<script type="text/javascript">
        $(document).ready(function() { 
        $('.gallery').tn3({ 
         autoplay:true
         }); 
      });
</script>
<div class="igallery">
     <div class="gallery">
       <div class="tn3 album"> 
   
         <ul>
         <li>
      
      <div class="tn3 description">IBSA Welcoming Party 2011</div>
			<a href="http://a2.sphotos.ak.fbcdn.net/hphotos-ak-snc7/311945_10150344568253879_694688878_8173913_1553043242_n.jpg">
			<%=image_tag("http://a2.sphotos.ak.fbcdn.net/hphotos-ak-snc7/311945_10150344568253879_694688878_8173913_1553043242_n.jpg")%>
		
		</a>

	
    </li>
    <li>
  
      <div class="tn3 description">IBSA Welcoming Party 2011</div>
     		<a href="http://a7.sphotos.ak.fbcdn.net/hphotos-ak-snc7/s720x720/304873_10150344560948879_694688878_8173813_175634087_n.jpg">
	  <%=image_tag("http://a7.sphotos.ak.fbcdn.net/hphotos-ak-snc7/s720x720/304873_10150344560948879_694688878_8173813_175634087_n.jpg")%>
	

      </a>
    </li>
    <li>
    
      <div class="tn3 description">IBSA Welcoming Party 2011</div>
     		<a href="http://a1.sphotos.ak.fbcdn.net/hphotos-ak-snc7/s720x720/308376_10150344562253879_694688878_8173819_2025420851_n.jpg">
	  <%=image_tag("http://a1.sphotos.ak.fbcdn.net/hphotos-ak-snc7/s720x720/308376_10150344562253879_694688878_8173819_2025420851_n.jpg")%>
	

      </a>
    </li>
    <li>
      
      <div class="tn3 description">IBSA Welcoming Party 2011</div>
     		<a href="http://a8.sphotos.ak.fbcdn.net/hphotos-ak-ash4/s720x720/299744_10150344566113879_694688878_8173883_1172312525_n.jpg">
	  <%=image_tag("http://a8.sphotos.ak.fbcdn.net/hphotos-ak-ash4/s720x720/299744_10150344566113879_694688878_8173883_1172312525_n.jpg")%>
	

      </a>
    </li>
    <li>
      
      <div class="tn3 description">IBSA Welcoming Party 2011</div>
     		<a href="http://a7.sphotos.ak.fbcdn.net/hphotos-ak-ash4/s720x720/306454_10150344566308879_694688878_8173887_970253787_n.jpg">
	  <%=image_tag("http://a7.sphotos.ak.fbcdn.net/hphotos-ak-ash4/s720x720/306454_10150344566308879_694688878_8173887_970253787_n.jpg")%>
	

      </a>
    </li>
    <li>
      
      <div class="tn3 description">IBSA Welcoming Party 2011</div>
     		<a href="http://a4.sphotos.ak.fbcdn.net/hphotos-ak-snc7/s720x720/302159_10150344567588879_694688878_8173904_2125725830_n.jpg">
	  <%=image_tag("http://a4.sphotos.ak.fbcdn.net/hphotos-ak-snc7/s720x720/302159_10150344567588879_694688878_8173904_2125725830_n.jpg")%>
	

      </a>
    </li>
    <li>
    
      <div class="tn3 description">IBSA Officer</div>
     		<a href="http://a6.sphotos.ak.fbcdn.net/hphotos-ak-snc7/291776_10150330908583879_694688878_8088446_926818937_n.jpg">
	  <%=image_tag("http://a6.sphotos.ak.fbcdn.net/hphotos-ak-snc7/291776_10150330908583879_694688878_8088446_926818937_n.jpg")%>
	

      </a>
    </li>
    <li>
      
      <div class="tn3 description">Language Day</div>
     		<a href="http://a3.sphotos.ak.fbcdn.net/hphotos-ak-ash4/310461_10150330907303879_694688878_8088422_1458906843_n.jpg">
	  <%=image_tag("http://a3.sphotos.ak.fbcdn.net/hphotos-ak-ash4/310461_10150330907303879_694688878_8088422_1458906843_n.jpg")%>
	

      </a>
    </li>
    <li>
    
      <div class="tn3 description">Language Day</div>
     		<a href="http://a2.sphotos.ak.fbcdn.net/hphotos-ak-ash4/308443_10150330908478879_694688878_8088444_1992766633_n.jpg">
	  <%=image_tag("http://a2.sphotos.ak.fbcdn.net/hphotos-ak-ash4/308443_10150330908478879_694688878_8088444_1992766633_n.jpg")%>
	

      </a>
    </li>
    <li>
      
      <div class="tn3 description">Indonesian Culture Night 2011</div>
     		<a href="http://a1.sphotos.ak.fbcdn.net/hphotos-ak-snc6/268229_10150235989337169_736417168_7180447_1147368_n.jpg">
	  <%=image_tag("http://a1.sphotos.ak.fbcdn.net/hphotos-ak-snc6/268229_10150235989337169_736417168_7180447_1147368_n.jpg")%>
	

      </a>
    </li>
    <li>
            <div class="tn3 description">Indonesian Culture Night 2011</div>
      			<a href="http://a6.sphotos.ak.fbcdn.net/hphotos-ak-snc6/247183_10150207058647169_736417168_6968915_6232843_n.jpg">
				<%=image_tag("http://a6.sphotos.ak.fbcdn.net/hphotos-ak-snc6/247183_10150207058647169_736417168_6968915_6232843_n.jpg")%>
      </a>
    </li>
         </ul>
       </div>
    </div>
</div>