<header>
  
	<div class="navbar">
		<div class="ilogo">
				
				<%= image_tag("logo.png", :alt => "Logo", :width=>"79px") %>
				
				
		</div>

		
		<div class="itext">
		<b>Indonesian &nbsp Bruin Student &nbsp Association</b>
		</div>
		
		<div class="ilinks">
			<ul>		
				
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Officer", event_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><%= link_to "Gallery", gallery_path %></li>
				
			</ul>
	 </div>
	
		<div class="ibruin">

		<%= image_tag("bruin_logo.png", :alt => "Logo", :width=>"110px") %>

		</div>
</header>