<header>
  <%= image_tag("logo.png", :alt => "Logo", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Event", event_path %></li>
	  <li><%= link_to "Contact", contact_path %>
    </ul>
  </nav>
</header>