<header>
  
	<div class="topbar">
		<div class="fill">
			<div class="container">
		          
		          <ul class="pills">
		           		
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "About", about_path %></li>
				 	<li><%= link_to "Event", event_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					<li><%= link_to "Gallery", gallery_path %></li>
		          </ul>
			</div>
		</div>
	</div>
	
	<div class="container">

      <div class="logo">
		<div class="row">
			<div class="span3">
			<%= image_tag("logo.png", :alt => "Logo", :class => "round") %>
			</div>
			<div class="span6">
				<div class="banner"><h1>Indonesian Bruin Student Association</h1></div>
			</div>
		</div>
      </div>
     
	
		
      
	</div>
	
	 

</header>