 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Indonesian Bruin Student Association | <%= @title %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets'%>
	<!-- Envolve Chat -->
	<script type="text/javascript">
	var envoSn=35407;
	var envProtoType = (("https:" == document.location.protocol) ? "https://" : "http://");
	document.write(unescape("%3Cscript src='" + envProtoType + "d.envolve.com/env.nocache.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	</head>
	<body>
		<div class = "container">
		<%= render 'layouts/header'%>
		
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %></div>
					<%end%>
				<%= yield %>
				</section>
		
		<%= debug(params) if Rails.env.development? %>
			
			</div>
			<div class="ifoot">&copy; Richard Lung 2011</div>
	</body>
</html>